.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 72px;
  gap: 1.56rem;
  z-index: 6;

  position: absolute;
  // width: 28.75rem;
  // height: 25rem;
  width: 35.94vmax;
  height: 34.5vmax;
  left: 49.3rem;
  top: 8rem;
  background: #FFFFFF;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  

  h2 {
    width: 16.69rem;
    height: 1.75rem;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 100%;
    margin-top: 0.94rem;
    text-align: center;
    color: #101012;
  }

  form {
    .forgot{
      display: flex;
      justify-content: space-between;
      // margin-bottom: 5px;
      // margin-top: 0.94rem; //=====Additional password marin=======//
      color: #5A5A5D;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
    
    }
    .form_group {
      margin-top: 0.94rem;

    &> label {
        display: block;
        margin-bottom: 0.31rem;
        height: 1rem;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #5A5A5D;
      }

      input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 16px;
        gap: 0.31rem;
        height: 3rem;
        border-radius: 0.5rem;
        width: 100%;
        border: 1px solid #ccc;        
        font-size: 1rem;
        outline: none;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;

        &:focus {
          // border-color: #0077cc;
          border: 3px solid #E0EFFE;
        }
      }

      //=========CODE FOR EYE ICON==============

      .password_input_container {
        position: relative;
      }
      
      .password_input_container input {
        padding-right: 30px; /* add space for eye icon */
      }
      
      .password_input_container div {
        position: absolute;
        top: 0.625rem;
        right: 0;
        bottom: 0;
        width: 1.875rem;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        color: #BEBEBF;
      }
      


      button{
        font-style: normal;
        color: #fff;
        font-size: 1rem;
        font-family: 'Poppins';
        font-weight: 600;
        line-height: 100%;

        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.94rem;
        gap: 0.31rem;
        margin-top: 1.75rem;

        width: 22rem;
        height: 3.25rem;

        background: #0957DF;
        border-radius: 0.5rem;

        &:hover {
          background-color: #005fa3;
        }
      }
    }
  }


  .forgot_password,
  .signup
  {

    a {
      color: #007DFA;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &>div.signup {
    display: flex;
    gap: 0.5rem;
    margin-top: 0px;
    font-size: 0.875rem;
    color: #BEBEBF;
    text-align: center;
    height: 1rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;

    span {
      margin-right: 0.31rem;
    }
  }

}


