main.med_logos_main {
  // z-index: 10;

  & > div.med_logos {
		position: absolute;
    display: flex;
    left: 5.5rem;
    gap: 1rem;
    top: 2.06rem;
    cursor: pointer;
    

    & > img.med_logo {
      width: 38.71px;
      height: 37px;
      
      
    }

    & > img.med_name {
      // width: 38.71px;
      // height: 37px;
      padding-top: 0.8rem;
    }
    
  }
}